# Python
__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/

# Mac
.DS_Store

# VSCode
src/csv_converter/__pycache__/
src/csv_converter/docs/api_list.csv
src/csv_converter/docs/api-docs.json
src/csv_converter/docs/cicd_api_init_data.sql
src/csv_converter/docs/swagger_paths.csv